section.page-404
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.content-404
					h1 The page you are looking for
						br
						| does not exist.
					a.button(href="/") Home Page
