section.car
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.dfr
					.gallery-block
						h1.title Dodge Journey SXT | ONE OWNER | LIFETIME ENGINE WARRANTY
						p.mileage 27,471 km
						.gallery
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-542caedd4ae198247f11d09768c78e4f.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-542caedd4ae198247f11d09768c78e4f.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-5244f46c777f9239eee04e7e59967fda.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-5244f46c777f9239eee04e7e59967fda.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-04d3792fa6742d4d0911c00546f9c0ef.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-04d3792fa6742d4d0911c00546f9c0ef.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-7fd8d88ed19933216dbb5cecceefdfc1.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-7fd8d88ed19933216dbb5cecceefdfc1.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-37437a803b894511ee1b7d5dd702594d.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-37437a803b894511ee1b7d5dd702594d.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-f71d13c69647acf10b31ab7fa3d6b1ae.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-f71d13c69647acf10b31ab7fa3d6b1ae.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-224f3b3bb331798708dda855729e34f0.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-224f3b3bb331798708dda855729e34f0.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-d43a8f156013f532359d4edab0bb6199.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-d43a8f156013f532359d4edab0bb6199.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-212efe743ec87ec1d3b12cd65669bbae.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-212efe743ec87ec1d3b12cd65669bbae.jpg' alt='#')
							.item
								a(href='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-13d1628eab9d9b8023e61437b4d314a4.jpg' data-fancybox='gallery')
									img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-13d1628eab9d9b8023e61437b4d314a4.jpg' alt='#')
						.gallery-nav.four-el
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-542caedd4ae198247f11d09768c78e4f.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-5244f46c777f9239eee04e7e59967fda.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-04d3792fa6742d4d0911c00546f9c0ef.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-7fd8d88ed19933216dbb5cecceefdfc1.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-37437a803b894511ee1b7d5dd702594d.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-f71d13c69647acf10b31ab7fa3d6b1ae.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-224f3b3bb331798708dda855729e34f0.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-d43a8f156013f532359d4edab0bb6199.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-212efe743ec87ec1d3b12cd65669bbae.jpg' alt='#')
							.item
								img(src='https://thompson.justwebagency.com/carnance/wp-content/uploads/pic-13d1628eab9d9b8023e61437b4d314a4.jpg' alt='#')
					.description-block
						.financing
							h2.title Estimated Financing
							.dfr
								h3.title Carnance Price
									i.ic-info
									p.tooltip List price does not include taxes or registration.
								p.price $22 ,950
							.dfr
								h3.title Carnance Price
									i.ic-info
									p.tooltip List price does not include taxes or registration.
								p.beweekly-price $222 biweekly
							a.button(href='#') Apply Now
						.warranty
							img(src="https://carnance.com/wp-content/uploads/warranty.png", alt="")
							h4 7 Day Vehicle Guarantee
								span WE MAKE SURE YOU’RE COVERED
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				ul.dfr.navigation
					li
						a(href="#features") Features
					li
						a(href="#inspection") Inspection Report
					li
						a(href="#financing") Financing Terms
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				ul.dfr.car-descriotion
					li
						i.ic-calendar
						h5.title
							span Year
							| 2017
					li
						i.ic-mileage
						h5.title
							span Mileage
							| 100,190 KM
					li
						i.ic-drivetrain
						h5.title
							span DriveTrain
							| AWD
					li
						i.ic-exterior
						h5.title
							span  Exterior Color
							| Dark Blue
					li
						i.ic-transmission
						h5.title
							span Transmission
							| Automatic
					li
						i.ic-engine
						h5.title
							span Engine
							| 3 L
					li
						i.ic-interior
						h5.title
							span Interior Color
							| Tan
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				#features
					h2.title Features
					ul.features-items
						li.item.ic-check ABS brakes
						li.item.ic-check Air Conditioning
						li.item.ic-check Alloy wheels
						li.item.ic-check AM/FM Stereo
						li.item.ic-check Auto Dimming Mirrors
						li.item.ic-check Automatic Headlight
						li.item.ic-check Backup Camera
						li.item.ic-check Bluetooth
						li.item.ic-check CD player
						li.item.ic-check Center Arm Rest
						li.item.ic-check Child Safety Locks
						li.item.ic-check Climate Control
						li.item.ic-check Cruise Control
						li.item.ic-check Cup Holder
						li.item.ic-check Daytime Running Lights
						li.item.ic-check Digital Clock
						li.item.ic-check Driver Side Airbag
						li.item.ic-check Dual Impact Airbags
						li.item.ic-check Electronic Stability Control
						li.item.ic-check Entertainment System
						li.item.ic-check Fog Lights
						li.item.ic-check Folding Rear Seat
						li.item.ic-check Heated Seats
						li.item.ic-check Hill Ascent Control
						li.item.ic-check Keyless Entry
						li.item.ic-check Leather seats
						li.item.ic-check Leather Steering Wheels
						li.item.ic-check Low Tire Pressure Warning
						li.item.ic-check Memory Seat
						li.item.ic-check Navigation system
						li.item.ic-check Parking Sensor
						li.item.ic-check Passenger Airbag
						li.item.ic-check Power Brakes
						li.item.ic-check Power Locks
						li.item.ic-check Power Mirrors
						li.item.ic-check Power Seat
						li.item.ic-check Power Steering
						li.item.ic-check Power Windows
						li.item.ic-check Power-Assist Disc Brakes
						li.item.ic-check Rain Sensor Wipers
						li.item.ic-check Rear Window Defroster
						li.item.ic-check Remote Trunk Release
						li.item.ic-check Satellite Radio
						li.item.ic-check Security System
						li.item.ic-check Side Airbag
						li.item.ic-check Sunroof/Moonroof
						li.item.ic-check Tilt Steering
						li.item.ic-check Tinted Glass
						li.item.ic-check Traction Control
						li.item.ic-check Trip Odometer
						li.item.ic-check Vehicle Anti-Theft System
						li.item.ic-check Xenon Headlights
					a#featured-more.button(href="#") Show Less
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.information
					h2.title Additional Information
					p.description 2018, Audi, A3, 2 L Automatic FWD with beautiful Tan interior and Dark Blue exterior, comes with the following ABS brakes, Air Conditioning, Alloy wheels, AM/FM Stereo, Auto Dimming Mirrors, Automatic Headlight, Bluetooth, CD player, Center Arm Rest, Climate Control, Cruise Control, Cup Holder, Daytime Running Lights, Digital Clock, Driver Side Airbag, Dual Impact Airbags. If you’re looking for a reliable Sedan, this is the car for you. Our team at Carnance is here to assist you throughout your whole car buying experience, so if you have any questions feel free to call us, we’re happy to help. Financing and Warranty are available on all our cars through our large network of accredited lenders and distinguished third party warranty providers, offering the best rates and warranty coverage in the country. Whether you have good credit, poor credit, a student, or new to the country, we’re here to support your situation and find you the best possible option. All our vehicles come with a safety certificate to meet your expectations. But wait there’s more, Carnance will also provide a 7 day/250km money back vehicle guarantee if there are any major inconsistencies or damages that were not previously disclosed. Carnance isn’t just another dealership, but the only online, hassle-free dealership that truly meets our clients’ needs and expectations. Carnance’s mission is to provide our customers with a streamlined, easy-to-use solution, which eliminates the common stresses associated with buying a new or used vehicle. Leveraging our technology, our innovative platform provides our users with a customized and simplistic approach tailor-made to suit your vehicle and financing needs. Don’t stress, Buy with Carnance! Call us today at 1-866-416-6240 or check us out online at
						a(href="#") carnance.com.
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.call-us
					h3
						span Any Questions? We’re here to help!
						| Call Us Today (866) 416-6240
					a.button(href="tel:8664166240") Call now
