footer
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.logo
					img(src="img/logo.svg", alt="")
				.dfr
					ul.menu
						li
							a(href="#") Browse Inventory
						li
							a(href="#") Online Financing
						li
							a(href="#") How It Works
						li
							a(href="#") About Us
						li
							a(href="#") Contact Us
						li
							a(href="#") Terms of Use
						li
							a(href="#") Privacy Policy
					ul.contacts
						li.ic-phone
							a(href="#") +1 866-416-6240
						li.ic-mail
							a(href="#") support@carnance.ca
						li.ic-location
							a(href="#") 111 Buttermill Ave Unit #2, Concord, ON L4K 3X5
						li.ic-clock
							p
								| Hours of operation:
								br
								b Mon – Fri:
								|  09:00AM – 09:00PM
								br
								b Saturday:
								|  09:00AM – 07:00PM
								br
								b Sunday:
								|  Closed
					.logos
						p Proud member of
						ul
							li
								img(src="img/logo-bbb.png", alt="")
							li
								img(src="img/logo-omvic.png", alt="")
				.copyright-block.dfr
					p Copyright © 2020 Carnance Inc.
					ul.soc.dfr
						li.ic-linkedin
							a(href="") Linkedin
						li.ic-facebook
							a(href="") Facebook
						li.ic-instagram
							a(href="") Instagram
						li.ic-twitter
							a(href="") Twitter
