section
	.banner-mini(style='background-image:url(https://thompson.justwebagency.com/carnance-v2/wp-content/themes/JWACarnance/assets/img/title-box-default-bg.jpg)')
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h1.title Get Pre-Approved
					.breadcrumbs
						// Breadcrumb NavXT 6.6.0
						span(property='itemListElement' typeof='ListItem')
							a.home(property='item' typeof='WebPage' title='Go to Carnance.' href='https://thompson.justwebagency.com/carnance-v2')
								span(property='name') Carnance
							meta(property='position' content='1')
						|  >
						span(property='itemListElement' typeof='ListItem')
							span.post.post-page.current-item(property='name') Get Pre-Approved
							meta(property='url' content='https://thompson.justwebagency.com/carnance-v2/get-pre-approved/')
							meta(property='position' content='2')
	.page
		.container
			.row.dfr
				.vc_row.wpb_row.vc_row-fluid
					.wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12.vc_col-xs-12
						.vc_column-inner
							.wpb_wrapper
								#gform_wrapper_3.gf_browser_gecko.gform_wrapper
									#gf_3.gform_anchor(tabindex='-1')
									form#gform_3(method='post' enctype='multipart/form-data' target='gform_ajax_frame_3' action='/carnance-v2/get-pre-approved/#gf_3')
										.gform_heading
											span.gform_description
										#gf_progressbar_wrapper_3.gf_progressbar_wrapper
											p.gf_progressbar_title
												| Step
												span.gf_step_current_page 1
												|  of
												span.gf_step_page_count 11
											.gf_progressbar.gf_progressbar_custom(aria-hidden='true')
												.gf_progressbar_percentage.percentbar_custom.percentbar_9(style='width:9%; color:; background-color:#f26b36;')
													span 9%
										.gform_body.gform-body
											#gform_page_3_1.gform_page.form-page.form-one
												.gform_page_fields
													#gform_fields_3.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_89.gfield.gform_hidden.field_sublabel_below.field_description_below.gfield_visibility_visible
															input#input_3_89.gform_hidden(name='input_89' type='hidden' aria-invalid='false' value='')
														#field_3_87.gfield.gravity_inner_input.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_87')
																| First Name
																span.gfield_required
																	span.gfield_required.gfield_required_text (Required)
															.ginput_container.ginput_container_text
																input#input_3_87.medium(name='input_87' type='text' value='' aria-required='true' aria-invalid='false')
														#field_3_88.gfield.gravity_inner_input.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_88')
																| Last Name
																span.gfield_required
																	span.gfield_required.gfield_required_text (Required)
															.ginput_container.ginput_container_text
																input#input_3_88.medium(name='input_88' type='text' value='' aria-required='true' aria-invalid='false')
														#field_3_9.gfield.gravity_inner_input.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_9')
																| Phone
																span.gfield_required
																	span.gfield_required.gfield_required_text (Required)
															.ginput_container.ginput_container_phone
																input#input_3_9.medium(name='input_9' type='tel' value='' aria-required='true' aria-invalid='false')
														#field_3_10.gfield.gravity_inner_input.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_10')
																| Email
																span.gfield_required
																	span.gfield_required.gfield_required_text (Required)
															.ginput_container.ginput_container_email
																input#input_3_10.medium(name='input_10' type='email' value='' aria-required='true' aria-invalid='false')
														#field_3_67.gfield.hide.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															script.
																if(jQuery('.gravity_inner_input input').length){
																jQuery('.gravity_inner_input input').focus(function(){
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																})
																jQuery('.gravity_inner_input input').blur(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}
																});
																jQuery('.gravity_inner_input input').each(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}else{
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																}
																});
																}
												.gform_page_footer
													input#gform_next_button_3_26.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("2");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("2");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_2.gform_page.form-three
												.gform_page_fields
													#gform_fields_3_2.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_68.gfield.hide.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															h3 What is your current address?
															script.
																if(jQuery('.gravity_inner_input input').length){
																jQuery('.gravity_inner_input input').focus(function(){
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																})
																jQuery('.gravity_inner_input input').blur(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}
																});
																jQuery('.gravity_inner_input input').each(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}else{
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																}
																});
																}
														#field_3_34.gfield.gravity_inner_input.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_34') Address
															.ginput_container.ginput_container_text
																input#input_3_34.medium(name='input_34' type='text' value='' aria-invalid='false')
														#field_3_35.gfield.gravity_inner_input.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_35') City
															.ginput_container.ginput_container_text
																input#input_3_35.medium(name='input_35' type='text' value='' aria-invalid='false')
														#field_3_37.gfield.province-select.select.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															label.gfield_label(for='input_3_37') Province
															.ginput_container.ginput_container_select
																select#input_3_37.medium.gfield_select(name='input_37' aria-invalid='false')
																	option.gf_placeholder(value='' selected='selected') Province
																	option(value='Ontario') Ontario
																	option(value='Quebec') Quebec
																	option(value='Other') Other
														#field_3_36.gfield.year-select.select.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_36') Years at Present Address:
															.ginput_container.ginput_container_select
																select#input_3_36.medium.gfield_select(name='input_36' aria-invalid='false')
																	option.gf_placeholder(value='' selected='selected') Year
																	option(value='0.5') <1 Year
																	option(value='1') 1 Year
																	option(value='2') 2 Years
																	option(value='3') 3 Years
																	option(value='4') 4 Years
																	option(value='5') 5 Years
																	option(value='6') 6 Years
																	option(value='7') 7 Years
																	option(value='8') 8 Years
																	option(value='9') 9 Years
																	option(value='10') 10 Years
																	option(value='11') >10 Years
												.gform_page_footer
													input#gform_previous_button_3_64.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("1");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("1");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_64.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("3");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("3");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_3.gform_page.form-four
												.gform_page_fields
													#gform_fields_3_3.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_39.gfield.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															script.
																jQuery(".input-figures input").keypress(function(event){
																event = event || window.event;
																if (event.charCode && event.charCode!=0 && event.charCode!=46 && (event.charCode < 48 || event.charCode > 57) ){
																return false;
																}
																});
															h3 Home Status:
														fieldset#field_3_38.gfield.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															legend.gfield_label Home Status:
															.ginput_container.ginput_container_radio
																#input_3_38.gfield_radio
																	.gchoice.gchoice_3_38_0
																		input#choice_3_38_0(name='input_38' type='radio' value='RE' onchange='gformToggleRadioOther( this )')
																		label#label_3_38_0(for='choice_3_38_0') Rent
																	.gchoice.gchoice_3_38_1
																		input#choice_3_38_1(name='input_38' type='radio' value='OW' onchange='gformToggleRadioOther( this )')
																		label#label_3_38_1(for='choice_3_38_1') Own with mortgage
																	.gchoice.gchoice_3_38_2
																		input#choice_3_38_2(name='input_38' type='radio' value='OF' onchange='gformToggleRadioOther( this )')
																		label#label_3_38_2(for='choice_3_38_2') Own free & clear
																	.gchoice.gchoice_3_38_3
																		input#choice_3_38_3(name='input_38' type='radio' value='OM' onchange='gformToggleRadioOther( this )')
																		label#label_3_38_3(for='choice_3_38_3') Own Mobile Home
																	.gchoice.gchoice_3_38_4
																		input#choice_3_38_4(name='input_38' type='radio' value='PA' onchange='gformToggleRadioOther( this )')
																		label#label_3_38_4(for='choice_3_38_4') Live with parents
																	.gchoice.gchoice_3_38_5
																		input#choice_3_38_5(name='input_38' type='radio' value='RH' onchange='gformToggleRadioOther( this )')
																		label#label_3_38_5(for='choice_3_38_5') Reserve Housing
																	.gchoice.gchoice_3_38_6
																		input#choice_3_38_6(name='input_38' type='radio' value='OT' onchange='gformToggleRadioOther( this )')
																		label#label_3_38_6(for='choice_3_38_6') Other
														#field_3_95.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_95') Monthly Payments:
															.ginput_container.ginput_container_number
																input#input_3_95.medium(name='input_95' type='number' step='any' value='' placeholder='$' aria-invalid='false' aria-describedby='')
														#field_3_69.gfield.hide.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															script.
																if(jQuery('.gravity_inner_input input').length){
																jQuery('.gravity_inner_input input').focus(function(){
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																})
																jQuery('.gravity_inner_input input').blur(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}
																});
																jQuery('.gravity_inner_input input').each(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}else{
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																}
																});
																}
												.gform_page_footer
													input#gform_previous_button_3_41.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("2");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("2");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_41.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("4");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("4");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_4.gform_page.form-five
												.gform_page_fields
													#gform_fields_3_4.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_42.gfield.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															h3 What Is Your Employment Status?
														fieldset#field_3_44.gfield.radio-button.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															legend.gfield_label What Is Your Employment Status?
															.ginput_container.ginput_container_radio
																#input_3_44.gfield_radio
																	.gchoice.gchoice_3_44_0
																		input#choice_3_44_0(name='input_44' type='radio' value='FT' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_0(for='choice_3_44_0') Full time
																	.gchoice.gchoice_3_44_1
																		input#choice_3_44_1(name='input_44' type='radio' value='FTP' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_1(for='choice_3_44_1') Full Time (Probation)
																	.gchoice.gchoice_3_44_2
																		input#choice_3_44_2(name='input_44' type='radio' value='PTC' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_2(for='choice_3_44_2') Part Time (Casual)
																	.gchoice.gchoice_3_44_3
																		input#choice_3_44_3(name='input_44' type='radio' value='PTR' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_3(for='choice_3_44_3') Part Time (Regular)
																	.gchoice.gchoice_3_44_4
																		input#choice_3_44_4(name='input_44' type='radio' value='RET' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_4(for='choice_3_44_4') Retired
																	.gchoice.gchoice_3_44_5
																		input#choice_3_44_5(name='input_44' type='radio' value='SEAS' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_5(for='choice_3_44_5') Seasonal Summer
																	.gchoice.gchoice_3_44_6
																		input#choice_3_44_6(name='input_44' type='radio' value='SEAW' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_6(for='choice_3_44_6') Seasonal Winter
																	.gchoice.gchoice_3_44_7
																		input#choice_3_44_7(name='input_44' type='radio' value='SE' onchange='gformToggleRadioOther( this )')
																		label#label_3_44_7(for='choice_3_44_7') Self Employed
												.gform_page_footer
													input#gform_previous_button_3_45.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("3");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("3");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_45.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("5");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("5");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_5.gform_page.form-six
												.gform_page_fields
													#gform_fields_3_5.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_46.gfield.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															script.
																jQuery(".input-figures input").keypress(function(event){
																event = event || window.event;
																if (event.charCode && event.charCode!=0 && event.charCode!=46 && (event.charCode < 48 || event.charCode > 57) ){
																return false;
																}
																});
																if(jQuery('.gravity_inner_input input').length){
																jQuery('.gravity_inner_input input').focus(function(){
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																})
																jQuery('.gravity_inner_input input').blur(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}
																});
																jQuery('.gravity_inner_input input').each(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}else{
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																}
																});
																}
															h3 Years Employed
														#field_3_47.gfield.gravity_inner_input.input-figures.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_47') Years
															.ginput_container.ginput_container_text
																input#input_3_47.medium(name='input_47' type='text' value='' aria-invalid='false')
														#field_3_48.gfield.gravity_inner_input.input-figures.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_48') Months
															.ginput_container.ginput_container_text
																input#input_3_48.medium(name='input_48' type='text' value='' aria-invalid='false')
												.gform_page_footer
													input#gform_previous_button_3_49.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("4");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("4");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_49.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("6");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("6");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_6.gform_page.form-seven
												.gform_page_fields
													#gform_fields_3_6.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_50.gfield.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															script.
																jQuery(".input-figures input").keypress(function(event){
																event = event || window.event;
																if (event.charCode && event.charCode!=0 && event.charCode!=46 && (event.charCode < 48 || event.charCode > 57) ){
																return false;
																}
																});
															h3 Gross Monthly Income:
														#field_3_51.gfield.input-figures.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															label.gfield_label(for='input_3_51') Gross Monthly Income:
															.ginput_container.ginput_container_text
																input#input_3_51.medium(name='input_51' type='text' value='' placeholder='$' aria-invalid='false')
												.gform_page_footer
													input#gform_previous_button_3_52.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("5");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("5");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_52.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("7");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("7");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_7.gform_page.form-eight
												.gform_page_fields
													#gform_fields_3_7.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_53.gfield.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															h3 Have You Declared Bankruptcy In the Last 7 Years?
														fieldset#field_3_54.gfield.radio-button.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															legend.gfield_label Have You Declared Bankruptcy In the Last 7 Years?
															.ginput_container.ginput_container_radio
																#input_3_54.gfield_radio
																	.gchoice.gchoice_3_54_0
																		input#choice_3_54_0(name='input_54' type='radio' value='false' onchange='gformToggleRadioOther( this )')
																		label#label_3_54_0(for='choice_3_54_0') No
																	.gchoice.gchoice_3_54_1
																		input#choice_3_54_1(name='input_54' type='radio' value='true' onchange='gformToggleRadioOther( this )')
																		label#label_3_54_1(for='choice_3_54_1') Yes
												.gform_page_footer
													input#gform_previous_button_3_55.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("6");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("6");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_55.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("8");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("8");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_8.gform_page.form-nine
												.gform_page_fields
													#gform_fields_3_8.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_56.gfield.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															h3 Is a Cosigner available if needed?
														fieldset#field_3_57.gfield.radio-button.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															legend.gfield_label Is a Cosigner available if needed?
															.ginput_container.ginput_container_radio
																#input_3_57.gfield_radio
																	.gchoice.gchoice_3_57_0
																		input#choice_3_57_0(name='input_57' type='radio' value='false' onchange='gformToggleRadioOther( this )')
																		label#label_3_57_0(for='choice_3_57_0') No
																	.gchoice.gchoice_3_57_1
																		input#choice_3_57_1(name='input_57' type='radio' value='true' onchange='gformToggleRadioOther( this )')
																		label#label_3_57_1(for='choice_3_57_1') Yes
												.gform_page_footer
													input#gform_previous_button_3_58.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("7");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("7");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_58.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("9");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("9");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_9.gform_page.form-ten
												.gform_page_fields
													#gform_fields_3_9.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_59.gfield.gfield_html.gfield_html_formatted.gfield_no_follows_desc.field_sublabel_below.field_description_below.gfield_visibility_visible
															script.
																jQuery(".input-figures input").keypress(function(event){
																event = event || window.event;
																if (event.charCode && event.charCode!=0 && event.charCode!=46 && (event.charCode < 48 || event.charCode > 57) ){
																return false;
																}
																});
																if(jQuery('.gravity_inner_input input').length){
																jQuery('.gravity_inner_input input').focus(function(){
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																})
																jQuery('.gravity_inner_input input').blur(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}
																});
																jQuery('.gravity_inner_input input').each(function(){
																if(jQuery(this).val().length == 0){
																jQuery(this).parents('.gravity_inner_input').removeClass('focus')
																}else{
																jQuery(this).parents('.gravity_inner_input').addClass('focus')
																}
																});
																}
															h3 Do you intend to put down payment?
														fieldset#field_3_60.gfield.radio-button.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															legend.gfield_label Do you intend to put down payment?
															.ginput_container.ginput_container_radio
																#input_3_60.gfield_radio
																	.gchoice.gchoice_3_60_0
																		input#choice_3_60_0(name='input_60' type='radio' value='No' onchange='gformToggleRadioOther( this )')
																		label#label_3_60_0(for='choice_3_60_0') No
																	.gchoice.gchoice_3_60_1
																		input#choice_3_60_1(name='input_60' type='radio' value='Yes' onchange='gformToggleRadioOther( this )')
																		label#label_3_60_1(for='choice_3_60_1') Yes
														#field_3_94.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_94') Down payment
															.ginput_container.ginput_container_number
																input#input_3_94.medium(name='input_94' type='number' step='any' value='' placeholder='$' aria-invalid='false' aria-describedby='')
												.gform_page_footer
													input#gform_previous_button_3_91.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("8");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("8");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_91.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("10");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("10");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_10.gform_page.form-eleven
												.gform_page_fields
													#gform_fields_3_10.gform_fields.top_label.form_sublabel_below.description_below
														#field_3_93.gfield.gravity_inner_input.field_sublabel_below.field_description_below.gfield_visibility_visible
															label.gfield_label(for='input_3_93') Date of Birth
															.ginput_container.ginput_container_date
																input#input_3_93.datepicker.medium.ymd_dash.datepicker_no_icon.gdatepicker-no-icon(name='input_93' type='text' value='' aria-describedby="input_3_93_date_format'" aria-invalid='false')
																.gfield_date_format(aria-hidden='true') Date Format: yyyy-mm-dd
																span#input_3_93_date_format.screen-reader-text Date Format: YYYY dash MM dash DD
															input#gforms_calendar_icon_input_3_93.gform_hidden(type='hidden' value='https://thompson.justwebagency.com/carnance-v2/wp-content/plugins/gravityforms/images/datepicker/datepicker.svg')
												.gform_page_footer
													input#gform_previous_button_3_92.gform_previous_button.button(type='button' value='← Back' onclick='jQuery("#gform_target_page_number_3").val("9");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("9");  jQuery("#gform_3").trigger("submit",[true]); } ')
													input#gform_next_button_3_92.gform_next_button.button(type='button' value='Continue' onclick='jQuery("#gform_target_page_number_3").val("11");  jQuery("#gform_3").trigger("submit",[true]); ' onkeypress='if( event.keyCode == 13 ){ jQuery("#gform_target_page_number_3").val("11");  jQuery("#gform_3").trigger("submit",[true]); } ')
											#gform_page_3_11.gform_page.form-twelve
												.gform_page_fields
													#gform_fields_3_11.gform_fields.top_label.form_sublabel_below.description_below
														fieldset#field_3_63.gfield.checkbox.gfield_contains_required.field_sublabel_below.field_description_below.hidden_label.gfield_visibility_visible
															legend.gfield_label.screen-reader-text.gfield_label_before_complex
																span.gfield_required
																	span.gfield_required.gfield_required_text (Required)
															.ginput_container.ginput_container_checkbox
																#input_3_63.gfield_checkbox
																	.gchoice.gchoice_3_63_1
																		input#choice_3_63_1(name='input_63.1' type='checkbox' value='I consent to receive electronic messages to my email address and mobile phone number (message and data rates may apply) from CarNance regarding CarNance products, services and related offerings. You may withdraw your consent at any time by using an unsubscribe mechanism in an electronic message sent by CarNance.')
																		label#label_3_63_1(for='choice_3_63_1')
																			| I consent to receive electronic messages to my email address and mobile phone number (message and data rates may apply) from CarNance regarding CarNance products, services and related offerings. You may withdraw your consent at any time by using an unsubscribe mechanism in an electronic message sent by CarNance.
												.gform_page_footer.top_label
													input#gform_previous_button_3.gform_previous_button.button(type='submit' value='← Back' onclick='if(window["gf_submitting_3"]){return false;}  if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_3"]){return false;} if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  jQuery("#gform_3").trigger("submit",[true]); }')
													input#gform_submit_button_3.gform_button.button(type='submit' value='Submit' onclick='if(window["gf_submitting_3"]){return false;}  if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_3"]){return false;} if( !jQuery("#gform_3")[0].checkValidity || jQuery("#gform_3")[0].checkValidity()){window["gf_submitting_3"]=true;}  jQuery("#gform_3").trigger("submit",[true]); }')
													input(type='hidden' name='gform_ajax' value='form_id=3&title=&description=1&tabindex=0')
													input.gform_hidden(type='hidden' name='is_submit_3' value='1')
													input.gform_hidden(type='hidden' name='gform_submit' value='3')
													input.gform_hidden(type='hidden' name='gform_unique_id' value='')
													input.gform_hidden(type='hidden' name='state_3' value='WyJbXSIsIjA0NDFjZjFmNTQ0YzM1NTMxMTk4YThlOWZlNjY1YjJlIl0=')
													input#gform_target_page_number_3.gform_hidden(type='hidden' name='gform_target_page_number_3' value='2')
													input#gform_source_page_number_3.gform_hidden(type='hidden' name='gform_source_page_number_3' value='1')
													input(type='hidden' name='gform_field_values' value='')
								iframe#gform_ajax_frame_3(style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_3' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.')
								script(type='text/javascript').
									document.addEventListener( 'DOMContentLoaded', function($){gformInitSpinner( 3, 'https://thompson.justwebagency.com/carnance-v2/wp-content/plugins/gravityforms/images/spinner.svg' );jQuery('#gform_ajax_frame_3').on('load',function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_3');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_3').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100;if(is_form){jQuery('#gform_wrapper_3').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_3').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_3').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_3').offset().top - mt); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_3').val();gformInitSpinner( 3, 'https://thompson.justwebagency.com/carnance-v2/wp-content/plugins/gravityforms/images/spinner.svg' );jQuery(document).trigger('gform_page_loaded', [3, current_page]);window['gf_submitting_3'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_3').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_3').offset().top - mt);jQuery(document).trigger('gform_confirmation_loaded', [3]);window['gf_submitting_3'] = false;wp.a11y.speak(jQuery('#gform_confirmation_message_3').text());}, 50);}else{jQuery('#gform_3').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [3, current_page]);} );} );
