section
	.banner-mini(style="background-image:url(img/title-box-default-bg.jpg)")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h1.title Our Team
					.breadcrumbs
						span
							a.home(href='#')
								span(property='name') Carnance
						span
							span Our Team
	.teams
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.dfr
						.team
							img(src="img/John-Doe.jpg", alt="")
							h2.title John Doe
							h3.sub-title Founder / Chief Marketing Officer
							p.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
						.team
							img(src="img/Nisan-Levin.jpg", alt="")
							h2.title Nisan Levin
							h3.sub-title Founder / Chief Operating Officer
							p.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
						.team
							img(src="img/Phillip-Ostrovsky.jpg", alt="")
							h2.title Phillip Ostrovsky
							h3.sub-title Founder / Chief Executive Officer
							p.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
						.team
							img(src="img/Elana-Paguis.jpg", alt="")
							h2.title Elana Paguis
							h3.sub-title Director of Customer Relations
							p.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
						.team
							img(src="img/Sam-Nizamov.jpg", alt="")
							h2.title Sam Nizamov
							h3.sub-title Customer Service Representative
							p.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
						.team
							img(src="img/Arthur-Martirossian.jpg", alt="")
							h2.title Arthur Martirossian
							h3.sub-title Customer Service Representative
							p.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
						.team
							img(src="img/Jacob-Wineberg.jpg", alt="")
							h2.title Jacob Wineberg
							h3.sub-title Customer Service Representative
							p.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.
