
<section>
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="title">100% Online Car Purchasing<span>Canadas New Way to Buy a Car</span></h1>
          <form class="filters filters-banner">
            <h2 class="title">Search Thousands of Cars, Trucks, Suv’s in Ontario</h2>
            <div class="left-block">
              <div class="select ic-make">
                <select id="make" name="Make">
                  <option value="hide">Make</option>
                  <option value="acura">Acura</option>
                  <option value="audi">Audi</option>
                  <option value="bmw">BMW</option>
                  <option value="fiat">Fiat</option>
                  <option value="ford">Ford</option>
                  <option value="honda">Honda</option>
                  <option value="hyundai">Hyundai</option>
                  <option value="jaguar">Jaguar</option>
                  <option value="land-rover">Land Rover</option>
                  <option value="maserati">Maserati</option>
                  <option value="mazda">Mazda</option>
                  <option value="mercedes-benz">Mercedes-Benz</option>
                  <option value="mitsubishi">Mitsubishi</option>
                  <option value="porsche">Porsche</option>
                  <option value="tesla">Tesla</option>
                  <option value="toyota">Toyota</option>
                  <option value="volkswagen">Volkswagen</option>
                  <option value="volvo">Volvo</option>
                </select>
              </div>
              <div class="select ic-model">
                <select id="model" name="Model">
                  <option value="hide">Model</option>
                  <option value="2-series">2 Series</option>
                  <option value="3-series">3 Series</option>
                  <option value="4-series">4 Series</option>
                  <option value="4-series-gran-coupe">4-Series Gran Coupe</option>
                  <option value="5-series">5-Series</option>
                  <option value="500">500</option>
                  <option value="a3">A3</option>
                  <option value="a4">A4</option>
                  <option value="a5">A5</option>
                  <option value="a7">A7</option>
                  <option value="accord">Accord</option>
                  <option value="c-class">C-Class</option>
                  <option value="cayenne">Cayenne</option>
                  <option value="corolla">Corolla</option>
                  <option value="f-pace">F-Pace</option>
                  <option value="ghibli">Ghibli</option>
                  <option value="gti">GTI</option>
                  <option value="lancer">Lancer</option>
                  <option value="macan">Macan</option>
                  <option value="mazda3">MAZDA3</option>
                  <option value="model-s">Model S</option>
                  <option value="mustang">Mustang</option>
                  <option value="q5">Q5</option>
                  <option value="range-rover">Range Rover</option>
                  <option value="range-rover-evoque">Range Rover Evoque</option>
                  <option value="range-rover-sport">Range Rover Sport</option>
                  <option value="s5">S5</option>
                  <option value="tiguan">Tiguan</option>
                  <option value="tlx">TLX</option>
                  <option value="tucson">Tucson</option>
                  <option value="x3">X3</option>
                  <option value="x4">X4</option>
                  <option value="x5">X5</option>
                  <option value="xc90">XC90</option>
                </select>
              </div>
              <div class="select ic-calendar">
                <select id="year" name="Year">
                  <option value="hide">Year</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                </select>
              </div>
              <div class="input ic-location">
                <input type="text" placeholder="Enter a location"/>
              </div>
              <div class="hidden-filters">
                <div class="select-range ic-price">
                  <p>Price</p>
                  <div class="range-wrapper">
                    <div class="range-slider">
                      <input class="js-range-slider" type="text" value="" data-min="0" data-postfix="$" data-max="100000" data-step="5000"/>
                    </div>
                    <div class="extra-controls form-inline">
                      <div class="form-group">
                        <input class="js-input-from form-control" type="text" value="0"/>
                        <input class="js-input-to form-control" type="text" value="0"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="select ic-body-type">
                  <select id="body-type" name="Body Type">
                    <option value="hide">Body Type</option>
                    <option value="Truck">Truck</option>
                    <option value="Suv">Suv</option>
                    <option value="Van">Van</option>
                    <option value="Sedan">Sedan</option>
                    <option value="Coupe">Coupe</option>
                  </select>
                </div>
                <div class="select ic-fuel">
                  <select id="fuel" name="fuel">
                    <option value="hide">Fuel type</option>
                    <option value="diesel">Diesel</option>
                    <option value="electric">Electric</option>
                    <option value="gas">Gas</option>
                  </select>
                </div>
                <div class="select ic-exterior">
                  <select id="exterior-color" name="exterior-color">
                    <option value="hide"> Exterior Color</option>
                    <option value="black">Black</option>
                    <option value="blue">Blue</option>
                    <option value="brown">Brown</option>
                    <option value="dark-blue">Dark Blue</option>
                    <option value="dark-grey">Dark Grey</option>
                    <option value="gray">Gray</option>
                    <option value="red">Red</option>
                    <option value="silver">Silver</option>
                    <option value="white">White</option>
                  </select>
                </div>
                <div class="select ic-engine">
                  <select id="engine" name="engine">
                    <option value="hide"> Engine</option>
                    <option value="1-4-l">1.4 L</option>
                    <option value="1-8-l">1.8 L</option>
                    <option value="2-l">2 L</option>
                    <option value="2-5-l">2.5 L</option>
                    <option value="3-l">3 L</option>
                    <option value="3-5-l">3.5 L</option>
                    <option value="3-6-l">3.6 L</option>
                    <option value="5-l">5 L</option>
                  </select>
                </div>
                <div class="select ic-interior">
                  <select id="interior-color" name="interior-color">
                    <option value=""> Interior Color</option>
                    <option value="black">Black</option>
                    <option value="brown">Brown</option>
                    <option value="cream">Cream</option>
                    <option value="gray">Gray</option>
                    <option value="grey">Grey</option>
                    <option value="red">Red</option>
                    <option value="tan">Tan</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="right-block">
              <button class="ic-search jwa_button filter-button" type="submit">Search</button>
              <button class="ic-reset" type="reset">Reset</button>
            </div><a class="show-filters" href="#">Show advanced filters</a>
            <div class="sefety"><img src="img/shield.png" alt=""/>
              <p><strong>Safety First</strong>. All cars are fully disinfected and sanitized before delivery.<a href="/about-us/">Learn more about</a>what we do.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
