
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo"><img src="img/logo.svg" alt=""/></div>
        <div class="dfr">
          <ul class="menu">
            <li><a href="#">Browse Inventory</a></li>
            <li><a href="#">Online Financing</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
          <ul class="contacts">
            <li class="ic-phone"><a href="#">+1 866-416-6240</a></li>
            <li class="ic-mail"><a href="#">support@carnance.ca</a></li>
            <li class="ic-location"><a href="#">111 Buttermill Ave Unit #2, Concord, ON L4K 3X5</a></li>
            <li class="ic-clock">
              <p>Hours of operation:<br/><b>Mon – Fri:</b> 09:00AM – 09:00PM<br/><b>Saturday:</b> 09:00AM – 07:00PM<br/><b>Sunday:</b> Closed</p>
            </li>
          </ul>
          <div class="logos">
            <p>Proud member of</p>
            <ul>
              <li><img src="img/logo-bbb.png" alt=""/></li>
              <li><img src="img/logo-omvic.png" alt=""/></li>
            </ul>
          </div>
        </div>
        <div class="copyright-block dfr">
          <p>Copyright © 2020 Carnance Inc.</p>
          <ul class="soc dfr">
            <li class="ic-linkedin"><a href="">Linkedin</a></li>
            <li class="ic-facebook"><a href="">Facebook</a></li>
            <li class="ic-instagram"><a href="">Instagram</a></li>
            <li class="ic-twitter"><a href="">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
