
<section>
  <div class="banner-mini" style="background-image:url(img/title-box-default-bg.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="title">Our Team</h1>
          <div class="breadcrumbs"><span><a class="home" href="#"><span property="name">Carnance</span></a></span><span><span>Our Team</span></span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="teams">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="dfr">
            <div class="team"><img src="img/John-Doe.jpg" alt=""/>
              <h2 class="title">John Doe</h2>
              <h3 class="sub-title">Founder / Chief Marketing Officer</h3>
              <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
            </div>
            <div class="team"><img src="img/Nisan-Levin.jpg" alt=""/>
              <h2 class="title">Nisan Levin</h2>
              <h3 class="sub-title">Founder / Chief Operating Officer</h3>
              <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
            </div>
            <div class="team"><img src="img/Phillip-Ostrovsky.jpg" alt=""/>
              <h2 class="title">Phillip Ostrovsky</h2>
              <h3 class="sub-title">Founder / Chief Executive Officer</h3>
              <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
            </div>
            <div class="team"><img src="img/Elana-Paguis.jpg" alt=""/>
              <h2 class="title">Elana Paguis</h2>
              <h3 class="sub-title">Director of Customer Relations</h3>
              <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
            </div>
            <div class="team"><img src="img/Sam-Nizamov.jpg" alt=""/>
              <h2 class="title">Sam Nizamov</h2>
              <h3 class="sub-title">Customer Service Representative</h3>
              <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
            </div>
            <div class="team"><img src="img/Arthur-Martirossian.jpg" alt=""/>
              <h2 class="title">Arthur Martirossian</h2>
              <h3 class="sub-title">Customer Service Representative</h3>
              <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
            </div>
            <div class="team"><img src="img/Jacob-Wineberg.jpg" alt=""/>
              <h2 class="title">Jacob Wineberg</h2>
              <h3 class="sub-title">Customer Service Representative</h3>
              <p class="desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
